<!-- TODO: override will_paginate on Home tab by disabling
     every button but '1'; enable '2' and 'Next' on page
     complete -->
<!-- TODO: including will_paginate largely increases the
     vertical span of its container vs. without it, even
     though the text is the same size; take control
     over this -->
<div>
  &nbsp;
  <%= link_to 'Write New', new_question_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Home', questions_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Voiced', voiced_questions_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Passed', passed_questions_path %>
  &nbsp;|&nbsp;
  <%= will_paginate @questions %>
</div>