<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Question</h3>

  <div class="field">
    <%= f.label :question_text, class: 'hidden' %>
    <%= f.text_area :text %>
  </div>

  <h3>Choices</h3>

  <%= f.fields_for :choices do |choice_f| %>
    <div class="field">
      <%= choice_f.label :answer_text, class: 'hidden' %>
      <%= choice_f.text_area :text %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anonymous %>
    <%= f.check_box :anonymous %>
  </div>

  <div class="field">
    <%= f.label :randomize %>
    <%= f.check_box :randomize %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
