<%
  user_choice_type = nil
  if my_choice_ids.length > 0
    user_choice_type = :voiced
    if my_choice_ids[0] == question.pass_choice_id
      user_choice_type = :passed
    end
  end

  def disabled_if_voiced(choice_type)
    return 'disabled' if choice_type == :voiced
  end
%>

<!-- todo: remove pass-container class -->
<div id="buttons<%= num_word %>" class="pass-container button-pane" style="float: right; clear: both;">

  <% pass_color = 'black' %>
  <% pass_color = 'grey' if user_choice_type == :voiced %>
  <% pass_color = 'red' if user_choice_type == :passed %>

  <%= question.cents or 0 %>&cent;

  <!-- this form does something, triggering a voice/create.
    The button also stops propagation to the panel-heading
    behind it via a click handler in questions.coffee -->
  <form action="/voices" method="post" data-remote="true"
    style="display: inline;">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag "voice[choice_id]", question.pass_choice_id %>
    <%= hidden_field_tag "panel_num_word", num_word %>
    <input class="pass-button" type="submit" value="X" style="color: <%= pass_color %>;" <%= disabled_if_voiced user_choice_type %> />
  </form>
</div>