<%
  collapse_class = 'collapse'
  collapse_class = 'in' if num_word == 'Zero'
  data_target = "#collapse#{num_word}"
  data_target = '#devnull' if num_word == 'Zero'
%>


<div class="panel-heading"
 onclick="location.href='#';" style="cursor: pointer;"
 data-toggle="collapse" data-target="<%= data_target %>" 
 data-remote="true" data-parent="#accordion">
  <h4 class="panel-title">
  
    <%= question.text %>
    <% unless question.anonymous %>
      <small><em>
      -&nbsp;<%= question.user_auth.name %>
      </em></small>
    <% end %>

    <%= render partial: "questions/q_button_pane", locals: {question: question, my_choice_ids: my_choice_ids, num_word: num_word} %>

  </h4>
</div>
<div id="collapse<%= num_word %>" class="panel-collapse <%= collapse_class %>">

  <%= render partial: "questions/choice_list", locals: {question: question, my_choice_ids: my_choice_ids, num_word: num_word} %>
    
</div>