<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Author:</strong>
  <% if @question.anonymous %>
    <%= 'Anonymous' %>
    <%= '(you!)' if current_user_auth and (@question.user_auth.id == current_user_auth.id) %>
  <% else %>
    <%= @question.user_auth.name %>
  <% end %>
</p>

<p>
  <strong>Cents:</strong>
  <%= @question.cents %>
</p>

<p>
  <strong>Randomize:</strong>
  <%= @question.randomize %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
