<p id="notice"><%= notice %></p>

<% all_my_choice_ids = @my_voices.map { |voice| voice.choice_id } %>
<% question_choice_ids = @question.choices.map { |x| x.id } %>
<% my_choice_ids = all_my_choice_ids & question_choice_ids %>
<% num_word = 'Zero' %>

<div class="panel panel-default" id="panel<%= num_word %>">

  <%= render partial: "questions/q_panel_content", locals: {question: @question, my_choice_ids: my_choice_ids, num_word: num_word} %>

</div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
