<p id="notice"><%= notice %></p>

<h1>Choices</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Question</th>
      <th>Ordinality</th>
      <th>Voice count</th>
      <th>Is pass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.text %></td>
        <td><%= choice.question %></td>
        <td><%= choice.ordinality %></td>
        <td><%= choice.voice_count %></td>
        <td><%= choice.is_pass %></td>
        <td><%= link_to 'Show', choice %></td>
        <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
        <td><%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choice', new_choice_path %>
