<p id="notice"><%= notice %></p>

<h1>Choices</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Question</th>
      <th>Ordinality</th>
      <th>Voices</th>
      <th>Pass</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <!-- notice in this table how, because each choice is issuing
    an independant query returning a record for its question and then
    instantiating that record object, these record objects are NOT
    matching references even when the question is the same -->
    <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.text %></td>
        <td><%= choice.question %></td>
        <td><%= choice.ordinality %></td>
        <td><%= choice.voice_count %></td>
        <td><%= choice.is_pass %></td>
        <td><%= link_to 'Show', choice %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

