<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @choice.text %>
</p>

<p>
  <strong>Question:</strong>
  <%= @choice.question %>
</p>

<p>
  <strong>Ordinality:</strong>
  <%= @choice.ordinality %>
</p>

<p>
  <strong>Voice count:</strong>
  <%= @choice.voice_count %>
</p>

<p>
  <strong>Is pass:</strong>
  <%= @choice.is_pass %>
</p>

<%= link_to 'Back', choices_path %>
