<%= form_for(voice) do |f| %>
  <% if voice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voice.errors.count, "error") %> prohibited this voice from being saved:</h2>

      <ul>
      <% voice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_auth_id %>
    <%= f.text_field :user_auth_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :choice_id %>
    <%= f.text_field :choice_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
