<% if current_user_auth %>
  <p>
    You are <%= current_user_auth.name %>.
  </p>
  <p>
    You can <%= link_to 'logout', logout_path, method: :delete %>.
  </p>
<% else %>
  <h1>
    You are not logged in.
  </h1>
  <p>
    Proceed to <%= link_to 'login', '/auth/facebook' %>.
  </p>
<% end %>

<% @thoughts.each do |thought| %>
  <p>
    <%= thought.text %> -- <%= thought.user_auth.name %>
  </p>
<% end %>

<%= form_for :thought, url: thoughts_path do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>